# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Entornos / editores
.vscode/
.idea/
.DS_Store

# Archivos temporales del sistema de inventario
datos/test.json

# Documentos temporales de Word
~$*.docx
